/*
    Variables
*/

// Base
$website--width: 80%;
$website--max-width: 1400px;

$color__grey--light: #FAFAFA;
$color__grey: #BBBBBB;
$color__grey--dark: #535353;
$color__orange: #F57627;
$color__green: #4DD588;
$color__blue: #4A90E2;
$color__red: #E0376A;
$gradient__orange: linear-gradient(135deg, #F57527 0%, #C35230 100%);

$global__borderRadius: 4px;
$global__margin: 2%;
$global__padding: $global__margin;
$global__shadow: 0px 3px 5px rgba(0, 0, 0, 0.15);

$font--size__xbig: 40px;
$font--size__big: 22px;
$font--size__medium: 16px;
$font--size__small: 10px;
$font--weight: 300;
$font--family: 'Lato', sans-serif;

$uc--font-size: $font--size__small;
$uc--letter-spacing: 0.2em;
$uc--font-weight: 500;

$header--background: $gradient__orange;
$header--width: 100%;
$header--height: 80px;

$logo--width: 140px;
$logo--height: 35px;

$search__icon--size: $logo--height;

$label--background: $color__orange;

$makeability--size__small: 70px;
$makeability--size__big: 150px;

$user-profile--size__small: $makeability--size__small;
$user-profile--size__big: $makeability--size__big;

$product-image--size__small: 150px;
$product-image--size__big: 200px;

$card__preview--offset: 55px;
$card__content-width: 80%;

@import 'helpers/clearfix';
@import 'helpers/website-width';
@import 'helpers/align';
@import 'helpers/float';
@import 'helpers/logo';
@import 'helpers/border-radius';
@import 'helpers/box-shadow';
@import 'helpers/uc';
@import 'helpers/align-children';

/*
    Declarations
*/

.logo {
    @include logo();
}

.xyAlign,
.xAlign,
.yAlign,
.xAlignLeft,
.xAlignRight,
.yAlignTop
.yAlignBottom {
    position: absolute
}

.xyAlign {
    @include align('center', 'center');
}

.xAlign {
    @include align('center', 'none');
}

.yAlign {
    @include align('none', 'center')
}

.xAlignLeft {
    @include align('left', 'none');
}

.xAlignRight {
    @include align('right', 'none');
}

.yAlignTop {
    @include align('none', 'top');
}

.yAlignBottom {
    @include align('none', 'bottom');
}

.alignChildren {
    @include alignChildren;
}

.float {
    @include float();
}

.space__top {
    margin-top: $global__margin * 4;
}

hr {
    margin: #{$global__margin * 6} 0;
    border: 1px solid lighten($color__grey, 20);
}