/// Align children of selected element using `flexbox`
/// @example 
///   .meta-info {
///     @include alignChildren;
///   }
/// @author Bob Wassermann

@mixin alignChildren {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    right: 0;
}