/// Uppercase text with the appropriate letter-spacing
/// @example 
///   .yell {
///     @include uc;
///   }
/// @author Bob Wassermann

@mixin uc {
    font-size: $font--size__small;
    text-transform: uppercase;
    letter-spacing: $uc--letter-spacing;
    font-weight: $uc--font-weight;
}