@mixin button($color) {
    @include uc;
    background: none;
    border-radius: 180px;
    border: 1px solid $color;
    color: $color;
    padding: 1em 2em;
}

.button,
button {
    @include button($color__orange);
    
    &.button__blue {
        @include button($color__blue);
    }

}