.grid-wrap {
    display: flex;
}

.wrapper.grid-wrap {
    display: flex; // overwrite if together with wrapper
}

@for $i from 1 through 100 {
    .grid__#{$i} {
        position: relative;
        flex: $i 1;
        width: $i;
    }
}