@mixin header() {
    background: $header--background;
    width: $header--width;
    height: $header--height;
    position: fixed;
    top: 0; left: 0;
    z-index: 99;
}

header, 
.header {
    @include header();

    .logo {
        @include logo(absolute);
    }

}