@mixin makeability($size) {
    background-color: $color__green;
    color: #ffffff;
    border-radius: 50%;
    position: relative;

    @if $size == 'big' {
        width: $makeability--size__big;
        height: $makeability--size__big;
    } @else if $size == 'small' {
        width: $makeability--size__small;
        height: $makeability--size__small;
    }

    span {
        @include align('center', 'center');
        position: absolute;

        @if  $size == 'big' {
            font-size: $font--size__xbig;
        }

    }

}

.makeability__big {
    @include makeability('big');
}

.makeability__small {
    @include makeability('small');
}