@mixin productimage($size) {
    background-size: cover;
    background-position: center;
    display: inline-block;
    @include borderRadius();

    @if $size == 'big' {
        width: $product-image--size__big;
        height: $product-image--size__big;
    } @else if $size == 'small' {
        width: $product-image--size__small;
        height: $product-image--size__small;
    }

}

.product-image__big {
    @include productimage('big');
}

.product-image__small {
    @include productimage('small');
}