/// Render the user profile in the desired `$size`
/// @param  {String} $size can be set to either `'big'` or `'small'`
/// @example 
///   .user-profile__small {
///     @include userprofile('small');
///   }
/// @author Bob Wassermann

@mixin userprofile($size) {
    background-size: cover;
    background-position: center;
    border-radius: 50%;

    @if $size == 'big' {
        width: $user-profile--size__big;
        height: $user-profile--size__big;
    } @else if $size == 'small' {
        width: $user-profile--size__small;
        height: $user-profile--size__small;
    }

}


.user-profile__big {
    @include userprofile('big');
}

.user-profile__small {
    @include userprofile('small');
}