$video--width: 100%;
$video--height: 100%;

.bg-video-wrapper {
  position: fixed;
  left: 50%; top: 50%;
  transform: translateX(-50%) translateY(-50%);
  min-width: 100%; min-height: 100%;

  &:before {
    content: '';
    position: absolute;
    left: 0; top: 0;
    width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 999;
  }

}

.bg-video {
  position: absolute;
  min-width: $video--width;
  min-height: $video--height;
  left: 0;
  top: 0;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.4);

  &:before {
    content: '';
    position: absolute;
    left: 0; top: 0;
    width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.5);
  }

}